body {
	font-family: 'Major Mono Display', monospace;
	background: cornsilk;
	display: grid;
	place-items: center;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
}

#box {
	font-size: 6rem;
}

nav {
	position: absolute;
	top: 0;
	right: 0;
	background: orange;
	width: 30%;
	height: 100vh;
	transition: all 400ms ease-in;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2rem;
}

nav::before {
	content: "menu";
	position: absolute;
	top: 50%;
	left: -50%;
	z-index: 2;
	transform: rotate(-90deg) translateY(100%);
	transition: all 400ms ease-in;
	font-size: 2rem;
}

nav.min {
	transform: translateX(100%);
}

nav.min::before {
	transform: rotate(0deg) translateY(-50%);
}

nav.min button {
	transform: scaleY(1) scaleX(1) translateX(0%);
}


nav button {
	padding: 0;
	border: 0;
	position: absolute;
	height: 50%;
	width: 25vh;
	background: orange;
	left: -25vh;
	top: 25%;
	border-radius: 25vh 0 0 25vh;
	transform: scaleY(2) scaleX(0.2) translateX(200%);
	transition: all 400ms ease-in;
	outline: none;
}

nav:hover button {
	background: pink;
}
nav:hover {
	background: pink;
}

nav li {
	list-style: none;
	padding: 5vh 10px;
	color: black;
}

nav li:nth-of-type(1):hover {background: blue;}
nav li:nth-of-type(2):hover {background: green;}
nav li:nth-of-type(3):hover {background: red;}

.red {color: red;}
.blue {color: blue;}
.green {color: green;}
.yellow {color: yellow;}

.skewPlus {animation-name: key-skewPlus}
.skewMinus {animation-name: key-skewMinus}
.rotatePlus {animation-name: key-rotatePlus}
.rotateMinus {animation-name: key-rotateMinus}

@keyframes key-skewPlus {
	to {transform: skewX(8deg);}
}
@keyframes key-skewMinus {
	to {transform: skewX(-10deg);}
}
@keyframes key-rotatePlus {
	to {transform: skewX(3deg);}
}
@keyframes key-rotateMinus {
	to {transform: skewX(-5deg);}
}
