body {
  font-family: 'PT Mono', monospace;
  background: cornsilk;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

h1, h2, h3, h4, h4, .display {
  text-transform: uppercase;
  font-family: 'Major Mono Display', monospace;
}

.ft-red {
  color: red;
}

.ft-blue {
  color: blue;
}

.ft-green {
  color: green;
}

.ft-yellow {
  color: yellow;
}

.bg-red {
  background-color: red;
}

.bg-gray {
  background-color: lightgray;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: blue;
  color: white;
}

.bg-green {
  background-color: green;
  color: white;
}

a {
  text-decoration: none;
}

a:not(.custom-link) {
  -webkit-transition: background-size 270ms ease-in;
  transition: background-size 270ms ease-in;
  background-image: -webkit-gradient(linear, left top, left bottom, from(yellow), to(yellow));
  background-image: linear-gradient(yellow 0%, yellow 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

a:not(.custom-link):hover {
  background-size: 100% 100%;
}

a:visited {
  color: blue;
}

.custom-link--box {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  font-weight: bold;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: underline;
}

.custom-link--box.bg-blue, .custom-link--box.bg-green {
  color: white;
}

.custom-link--box.bg-red {
  color: black;
}

.custom-link--box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: yellow;
  z-index: -1;
  -webkit-transform: skewX(-40deg) scaleX(0);
          transform: skewX(-40deg) scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  width: 200%;
  left: -25%;
  -webkit-transition: -webkit-transform 320ms ease-in;
  transition: -webkit-transform 320ms ease-in;
  transition: transform 320ms ease-in;
  transition: transform 320ms ease-in, -webkit-transform 320ms ease-in;
}

.custom-link--box:hover {
  color: blue;
}

.custom-link--box:hover::before {
  -webkit-transform: skewX(-40deg) scaleX(1);
          transform: skewX(-40deg) scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

/*=====================NAV=====================*/
:root {
  --nav-transition-time: 400ms;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 100vh;
  -webkit-transition: -webkit-transform var(--nav-transition-time) ease-in;
  transition: -webkit-transform var(--nav-transition-time) ease-in;
  transition: transform var(--nav-transition-time) ease-in;
  transition: transform var(--nav-transition-time) ease-in, -webkit-transform var(--nav-transition-time) ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  width: 200vw;
  left: -100vw;
  opacity: 0;
  background-color: black;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity var(--nav-transition-time) ease-out;
  transition: opacity var(--nav-transition-time) ease-out;
}

nav button {
  padding: 0;
  border: none;
  font-family: inherit;
  width: 25vh;
  height: 12.5vh;
  background: orange;
  border-radius: 25vh 25vh 0 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  top: 12.5vh;
  left: 0;
  -webkit-transition: -webkit-transform var(--nav-transition-time) ease-in;
  transition: -webkit-transform var(--nav-transition-time) ease-in;
  transition: transform var(--nav-transition-time) ease-in;
  transition: transform var(--nav-transition-time) ease-in, -webkit-transform var(--nav-transition-time) ease-in;
  -webkit-transform: translate(-75%, 0vh) rotate(-90deg);
          transform: translate(-75%, 0vh) rotate(-90deg);
  font-size: 2rem;
  cursor: pointer;
}

nav button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  height: 200%;
  background-color: orange;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform: rotate(135deg) scale(1);
          transform: rotate(135deg) scale(1);
  -webkit-transition: -webkit-transform var(--nav-transition-time) ease-in;
  transition: -webkit-transform var(--nav-transition-time) ease-in;
  transition: transform var(--nav-transition-time) ease-in;
  transition: transform var(--nav-transition-time) ease-in, -webkit-transform var(--nav-transition-time) ease-in;
  border: 8px solid black;
  border-color: black black orange orange;
  top: -8px;
  left: -8px;
}

nav a {
  padding: 10px;
  margin: 5vh 0;
  z-index: 1;
  font-size: calc(var(--hero-height) * 0.5);
  -webkit-transition: -webkit-transform 270ms ease-in, -webkit-box-shadow 270ms ease-in;
  transition: -webkit-transform 270ms ease-in, -webkit-box-shadow 270ms ease-in;
  transition: transform 270ms ease-in, box-shadow 270ms ease-in;
  transition: transform 270ms ease-in, box-shadow 270ms ease-in, -webkit-transform 270ms ease-in, -webkit-box-shadow 270ms ease-in;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

nav a::before, nav a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  height: 8px;
  background-color: yellow;
  -webkit-transition: -webkit-transform 270ms ease-in;
  transition: -webkit-transform 270ms ease-in;
  transition: transform 270ms ease-in;
  transition: transform 270ms ease-in, -webkit-transform 270ms ease-in;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

nav a::before {
  top: 0.1em;
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav a::after {
  top: initial;
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: -1;
}

nav a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav:hover button::before, nav:focus button::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav.max::before {
  -webkit-transition-delay: var(--nav-transition-time);
          transition-delay: var(--nav-transition-time);
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.2;
}

nav.max button::before {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transform: rotate(-45deg) scale(6) translate(-25%, 25%);
          transform: rotate(-45deg) scale(6) translate(-25%, 25%);
  border-color: black;
}

/*====================HERO====================*/
:root {
  --hero-height: 10vw;
}

@media (max-width: 500px) {
  :root {
    --hero-height: 18vw;
  }
}

#hero {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  padding: 1%;
}

#hero * {
  margin: 0;
}

#hero h1 {
  font-size: var(--hero-height);
  cursor: default;
}

#hero .char {
  display: inline-block;
}

#hero svg {
  height: 33%;
  width: auto;
  position: absolute;
  right: 10%;
  bottom: 10%;
  overflow: visible;
  z-index: -1;
}

.ghost__body-top, .ghost__body-low, .ghost__tail, .ghost__eye {
  fill: white;
}

.ghost__eye {
  stroke: black;
  stroke-width: 5;
}

.ghost__shadow {
  fill: black;
  stroke: none;
}

.ghost__tail {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}

/*====================HEAD====================*/
#head {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 1000;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: -webkit-transform 380ms ease-in;
  transition: -webkit-transform 380ms ease-in;
  transition: transform 380ms ease-in;
  transition: transform 380ms ease-in, -webkit-transform 380ms ease-in;
}

#head h1 {
  margin: 0;
  font-size: 2rem;
}

#head.show {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/*==================SECTION==================*/
:root {
  --section-padding: 2rem;
}

section {
  max-width: 900px;
  margin: 10vh auto;
  overflow: hidden;
}

section h2 {
  font-size: 3rem;
  margin: 0;
  background: white;
  border: 8px solid black;
  padding: 8px var(--section-padding);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

section h2 .char {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

section aside {
  height: 200px;
  width: 200px;
  border: 8px solid black;
  background-color: orange;
  overflow: hidden;
}

section aside.aside--left {
  float: left;
  margin: calc(0px - var(--section-padding) - 8px) 5px 5px calc(0px - var(--section-padding) - 8px);
  shape-outside: polygon(100% 0%, 0% 100%, 50% 100%, 83% 82%, 100% 50%);
  border-radius: 0 0 50% 0;
}

section aside.aside--right {
  float: right;
  margin: calc(0px - var(--section-padding) - 8px) calc(0px - var(--section-padding) - 8px) 5px 5px;
  shape-outside: polygon(0% 0%, 100% 100%, 50% 100%, 15% 81%, 0% 50%);
  border-radius: 0 0 0 50%;
}

@media (max-width: 500px) {
  section aside {
    height: 150px;
    width: 150px;
  }
}

section aside img {
  -webkit-filter: grayscale(0.6) brightness(2);
          filter: grayscale(0.6) brightness(2);
  mix-blend-mode: multiply;
  height: auto;
  width: 100%;
}

section .section-container {
  background: white;
  border: 8px solid black;
  border-top: none;
  margin: 0 auto;
  padding: var(--section-padding);
}

section .section-container p:first-of-type {
  margin-top: 0;
}

section .section-container p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  section {
    max-width: 90%;
  }
}

#about aside img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#about .section-container p:first-of-type {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

#contact .section-container {
  padding-bottom: 15vh;
}

@media (max-width: 500px) {
  #contact .section-container p:first-of-type {
    margin-top: 7rem;
  }
}

@media (max-width: 500px) {
  #contact .section-container {
    padding-bottom: var(--section-padding);
  }
}

#portfolio .portfolio-header {
  z-index: 2;
  border-bottom: 8px solid black;
}

#portfolio .portfolio-header h2 {
  text-align: center;
  padding: 2% var(--section-padding);
}

#portfolio .section-container {
  padding: 0;
}

#portfolio .button-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 8px;
  background-color: black;
  border-left: 8px solid black;
  border-right: 8px solid black;
}

#portfolio .button-grid a {
  padding: 1em 0;
  font-size: 1rem;
}

.portfolio-entry {
  padding: var(--section-padding);
  position: relative;
  overflow: hidden;
  text-align: center;
  border-top: 8px solid black;
}

.portfolio-entry:first-of-type {
  border-top: none;
}

.portfolio-entry .portfolio-entry__title {
  font-size: 2rem;
  margin: calc(var(--section-padding) * -1);
  margin-bottom: var(--section-padding);
  padding: var(--section-padding);
  border-bottom: 8px solid black;
}

.portfolio-entry .portfolio-entry__tech {
  font-weight: bold;
  margin-top: 1em !important;
}

.portfolio-entry .portfolio-entry__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 500px) {
  .portfolio-entry .portfolio-entry__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-entry .portfolio-entry__links a:not(:last-of-type) {
    margin-bottom: 1em;
  }
}

.portfolio-entry .col-l p:last-of-type {
  margin-bottom: 0.5em !important;
}

.portfolio-entry:nth-of-type(4n+1) {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-entry:nth-of-type(4n+1) .col-l {
  padding: var(--section-padding);
  border-right: 8px solid black;
}

@media (max-width: 500px) {
  .portfolio-entry:nth-of-type(4n+1) .col-l {
    border-right: none;
    padding-bottom: 0;
  }
}

.portfolio-entry:nth-of-type(4n+1) .col-r {
  padding: var(--section-padding);
}

@media (max-width: 500px) {
  .portfolio-entry:nth-of-type(4n+1) .col-r {
    border-right: none;
    padding-top: 0;
  }
}

.portfolio-entry:nth-of-type(4n+3) {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.portfolio-entry:nth-of-type(4n+3) .col-l {
  padding: var(--section-padding);
}

@media (max-width: 500px) {
  .portfolio-entry:nth-of-type(4n+3) .col-l {
    padding-bottom: 0;
  }
}

.portfolio-entry:nth-of-type(4n+3) .col-r {
  padding: var(--section-padding);
  border-right: 8px solid black;
}

@media (max-width: 500px) {
  .portfolio-entry:nth-of-type(4n+3) .col-r {
    border-right: none;
    padding-top: 0;
  }
}

@media (max-width: 500px) {
  .portfolio-entry {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

footer {
  margin-top: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (minmax(1rem, auto))[5];
      grid-template-rows: repeat(5, minmax(1rem, auto));
      grid-template-areas: "f1 f1 f2" "f3 f4 f2" "f3 f5 f6" "f7 f8 f8" "f7 f9 f10";
  text-align: center;
  border: 4px solid black;
  background-color: white;
}

footer h3 {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 4px solid black;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  margin: 0;
}

footer h3:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: f1;
}

footer h3:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: f2;
}

footer h3:nth-of-type(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: f6;
}

footer .main-link {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 4px solid black;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

footer .main-link:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: f4;
}

footer .main-link:nth-of-type(2) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: f8;
}

footer .main-link:nth-of-type(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: f10;
}

footer .sub-link-container {
  border: 4px solid black;
  padding: 0.5rem 0;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: f7;
  list-style: none;
  margin: 0;
}

footer .sub-link-container li {
  margin-bottom: 0.5rem;
}

footer .block {
  border: 4px solid black;
  padding: 0.5rem 0;
}

footer .block:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: f3;
}

footer .block:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: f5;
}

footer .block:nth-of-type(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: f9;
}
/*# sourceMappingURL=main.css.map */