body {
	font-family: 'Major Mono Display', monospace;
	background: cornsilk;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
}

section {
	min-height: 80vh;
	width: 80%;
	margin: 0 auto;
}

/*=====================NAV=====================*/

nav {
	position: fixed;
	top: 0;
	right: 0;
	background: orange;
	width: 30%;
	height: 100vh;
	transition: all 400ms ease-in;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2rem;
  &::before {
    content: "menu";
    position: absolute;
    top: 50%;
    left: -50%;
    z-index: 2;
    transform: rotate(-90deg) translateY(100%);
    transition: all 400ms ease-in;
    font-size: 2rem;
  }
  button {
    padding: 0;
    border: 0;
    position: absolute;
    height: 50%;
    width: 25vh;
    background: orange;
    left: -25vh;
    top: 25%;
    border-radius: 25vh 0 0 25vh;
    transform: scaleY(2) scaleX(0.2) translateX(200%);
    transition: all 400ms ease-in;
    outline: none;
  }
  &.min {
    transform: translateX(100%);
    &::before {
      transform: rotate(0deg) translateY(-50%);
    }
    button {
      transform: scaleY(1) scaleX(1) translateX(0%);
    }
  }
  li {
    list-style: none;
    padding: 5vh 10px;
    color: black;
    &:nth-of-type(1):hover {background: blue;}
    &:nth-of-type(2):hover {background: green;}
    &:nth-of-type(3):hover {background: red;}
  }
  &:hover {
    background: pink;
    button {
      background: pink;
    }
  }
}

/*====================HERO====================*/
:root {
  --hero-height: 14vw;
}

@media(max-width: 500px){
  :root {
      --hero-height: 20vw;
  }
}

#hero {
	margin: 0 auto;
  width: 98%;
  position: sticky;
  top: 0;
  z-index: -1;
	* {
		margin: 0;
	}
	h1 {
    font-size: var(--hero-height);
	}
	.char {
		display: inline-block;
    transform-origin: top left;
	}
}

.red {color: red;}
.blue {color: blue;}
.green {color: green;}
.yellow {color: yellow;}
