body {
	font-family: 'Major Mono Display', monospace;
	background: cornsilk;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
}

.red {color: red;}
.blue {color: blue;}
.green {color: green;}
.yellow {color: yellow;}

$border: 8px solid black;

@mixin pseudo() {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/*=====================NAV=====================*/

:root {
	// Nav transition time as a variable for consistency in transition
	--nav-transition-time: 400ms;
}

nav {
	// Position nav on right & above all other elements
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	background: orange;
	height: 100vh;
	transition: transform var(--nav-transition-time) ease-in;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2rem;
	border-left: $border;
	&::before {
		@include pseudo();
		// Shadow over page to extend click listener
		width: 100vw;
		left: -100vw;
		opacity: 0.2;
		background-color: black;
		transition: opacity var(--nav-transition-time) ease-out;
	}
	button {
		// Style resets
		padding: 0;
		border: none;
		font-family: inherit;
		width: 25vh;
		height: 12.5vh;
		background: orange;
		// Equal radius to width creates a semicircle
		border-radius: 25vh 25vh 0 0;
		transform-origin: center;
		// Move button to halfway down page & rotate
		position: absolute;
		left: 0;
		transform: translateX(calc(-75% + 5px)) rotate(-90deg);
		font-size: 2rem;
		cursor: pointer;
		&::before {
			@include pseudo();
			background-color: orange;
			// Pull behind button
			z-index: -1;
			// Make semicircle
			border-radius: 25vw 25vw 0 0;
			// Stretch to just over full window height
			transform: scaleX(4.01);
			transition: all var(--nav-transition-time) ease-in;
			// Add border to 3 sides
			border-top: $border;
			border-left: $border;
			border-right: $border;
			border-bottom: none;
			border-color: orange;
			// Move to account for border
			top: -8px;
			left: -8px;
		}
	}
	&.min {
		// Push off side on minimized
		transform: translateX(100%);
		&::before {
			// Hide & minimize shadow
			transform: scaleX(0);
			opacity: 0;
		}
		button {
			transform: translateX(-75%) rotate(-90deg);
			&::before {
				transform: scaleY(1);
			}
		}
	}
	a {
		// Chunk up nav links
		padding: 5vh 10px;
		// Add some wiggle room for button pseudo joint
		margin-left: 10px;
	}
	&:hover, &:focus-within {
		button::before {
			border-color: black;
		}
	}
}

/*====================HERO====================*/

:root {
	--hero-height: 14vw;
}

@media(max-width: 500px){
	:root {
			--hero-height: 20vw;
	}
}

#hero {
	margin: 0 auto;
	width: 98%;
	min-height: 100vh;
	display: grid;
	place-items: center;
	* {
		margin: 0;
	}
	h1 {
		font-size: var(--hero-height);
	}
	.char {
		display: inline-block;
	}
}

/*====================HEAD====================*/

#head {
	position: fixed;
	top: 0;
	left: 2%;
	transform: translateY(-100%);
	transition: transform 380ms ease-in;
	z-index: 1000;
	h1 {
		margin: 0 auto;
		font-size: 2rem;
	}
	&.show {
		transform: translateY(0%);
	}
}

/*==================SECTION==================*/

section {
	min-height: 80vh;
	width: 80%;
	margin: 10vh auto;
	overflow: hidden;
	h2 {
		font-size: 3rem;
		margin: 0;
		text-transform: uppercase;
		background: white;
		border: $border;
		padding: 8px 5%;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	div {
		background: white;
		border: $border;
		border-top: none;
		margin: 0 auto;
		padding: 1rem 5%;
	}
}
